<div class="main-container">
	<header class="header-2">
		<div class="branding">
			<a class="nav-link">
				<img src="assets/Header.png" class="img-fluid" alt="" srcset="">
				<span class="logo-text">Income Expense</span>
			</a>
		</div>
	</header>
	<div class="content-container sidenav-text">
    <div class="content-area">...</div>
		<clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
			<clr-vertical-nav-group>
				Clarity 5 - Group-1
				<clr-vertical-nav-group-children>
					<a clrVerticalNavLink routerLink="./link-1" routerLinkActive="active">Group Link</a>
				</clr-vertical-nav-group-children>
			</clr-vertical-nav-group>

			<clr-vertical-nav-group>
				Clarity 5 - Group-2
				<clr-vertical-nav-group-children>
					<a clrVerticalNavLink routerLink="./link-1" routerLinkActive="active">Group Link</a>
				</clr-vertical-nav-group-children>
			</clr-vertical-nav-group>
		</clr-vertical-nav>
	</div>
</div>
